.aboutMe {
    display: grid;
    max-width: 31.25rem;
}

.aboutMe > div {
    text-align: center;
}

.actionButtons {
    display: flex;
    justify-content: space-between;
}

.contactInfo {
    display: grid;
    justify-content: center;
}

.imageDesktop {
    display: none;
}

.imageMobile {
    align-self: center;
    display: flex;
    height: clamp(15rem, 120dvw, 32.5rem);
    width: clamp(10rem, calc(100dvw - 2rem), 25rem);
}

.imageMobile > img {
    height: inherit;
    object-fit: cover;
    width: inherit;
}

.interests {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    justify-self: center;
}

@media (min-width: 768px) {
    .aboutMe {
        display: grid;
        gap: 1.5rem;
        grid-template-areas:
            'image contact'
            'image interests'
        ;
        grid-template-columns: repeat(2, 50%);
        max-width: inherit;
    }

    .description, .interests {
        width: calc(100% - 1rem);
    }

    .description > p {
        font-size: 0.75rem;
    }

    .imageDesktop {
        align-self: center;
        display: flex;
        grid-area: image;
        height: 31.25rem;
        width: 23.5rem;
    }

    .imageDesktop > img {
        height: auto;
        object-fit: cover;
    }
    
    .imageMobile {
        display: none;
    }
}

