.contactDetail {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto 1fr;
    justify-items: flex-start;
}

.contactDetail h5 {
    padding: 0 2rem 0 0.5rem;
}

.contactDetail img {
    height: auto;
    width: 2rem;
}

.contactDetail p {
    justify-self: flex-end;
}

@media (min-width: 768px) {
    .contactDetail {
        width: clamp(20rem, calc(50dvw - 4rem), 35rem);
    }
}